h1{
  background-color: pink;
  color: inherit;
  text-align: center;
  font-style: italic;
  font-size: 13px
}
h2{
  background-color: inherit;
  color: pink
  text-align: center;
  font-style: oblique;
  font-size: 10px
}
