h1{
  background-color: pink;
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 13px
}
h2{
  background-color: inherit;
  color: pink
  text-align: center;
  font-style: oblique;
  font-size: 10px
}
img{
  float: left;
  display: block;
  height: 200px;
  width: 250px;
}
body{
  text-align: right;
  font-family: fantasy;
  font-size: 8px
  background-color: grey;
  line-height: 8px;
  content: black;
}
.important{
  color: pink
}
